.padding-2 {
  padding: 2%;
}

.font-color-FFFFFF {
  color: #ffffff !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-100 {
  font-size: 100px !important;
}

.no-margin {
  margin: 0 !important;
}

.justify-content-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.background-color-002053 {
  background-color: #002053 !important;
}

.border-color-002053 {
  border-color: #002053 !important;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-10 {
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0px 3px 10px #00000029 !important;
}

.position-absolute {
  position: absolute;
}

.flex-direction-columm {
  flex-direction: column;
}

.font-color-00205 {
  color: #002053;
}

.margin-left {
  margin-left: 5%;
}

.margin-right-3 {
  margin-right: 3%;
}


.margin-leftamplio {
  margin-left: 10%;
}

.select-space {
  padding: 2%;
  width: 30%;
}

.select-space-small {
  padding: 1%;
  width: 30%;
}

.select-input {
  padding: 1%;
  width: 30%;
}


.titulos {
  font-size: 18px;
  font-weight: 700;
  color: #002053;
}

.margin-left-2{
  margin-left: 2%;
}

// .styleicons{
//   display: 'flex'; 
//   flex-direction: 'column';
//   justify-content: 'center'; 
//   align-items: 'center';
// }
